
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color:#E4E4E4;
  background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  font-family: 'Varela Round', system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
  font-size:12px;
  color: #FFF;
  height:100vh;
  margin:0px;
  padding:0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
  width:100%;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  font-size:24px;
  font-weight:normal;
  margin:0px;
  overflow:visible;
  padding:0px;
  text-align:center;
}

.event {
  border-radius:4px;
  -webkit-border-radius:4px;
  color:#FFFFFF;
  font-size:12px;
  margin:0px 30px;
  padding:2px 0px;
}

.event.listening {
  background-color:#333333;
  display:block;
}

.event.received {
  background-color:#4B946A;
  display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.home-background .page__background{
  background-image: url('../img/home_light_on.png') !important;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.light-background .page__background{
  background-image: url('../img/light-background.png') !important;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.mood-background .page__background{
  background-image: url('../img/kaamosArtboard 3.jpg') !important;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#home-content {
  margin-top: 45vh;
  height: 50vh;
  overflow-y: scroll;
  display: block;
}

#hello-message {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Varela Round', system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
  color: #FFF;
}

#hello-message-tag {
  font-size: 20px;
  margin-top: 0px;
  text-align: center;
  font-family: 'Varela Round', system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
  color: #FFF;
}

#quote {
  font-size: 20px;
  text-align: center;
  font-family: 'Varela Round', system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
  color: #FFF;
  background-color: rgba(240, 240, 240, 0.3);
  border-radius: 30px;
  padding: 20px;
  margin: 40px;
}

.light-card {
  height: 155px;
  width: 85%;
  text-align: center;
  display: block;
  margin-top: 10%;
  margin-bottom: -5%;
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 40px; */
}

.light-card h2 {
  font-size: 26px;
  margin-top: 0px;
  text-align: center;
  font-family: 'Varela Round', system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
  color: #FFF;
  padding-top: 50px;
}

.light-card p {
  font-size: 12px;
  margin-top: -10px;
  text-align: center;
  font-family: 'Varela Round', system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
  color: #FFF;
}

.light-card:nth-child(1) {
  margin-top: 100px; /* First item needs to be a bit more down */

  background-image: url('../img/btn_background_yellow.png') !important;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.light-card:nth-child(2) {
  background-image: url('../img/btn_background_pink.png') !important;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.light-card:nth-child(3) {
  background-image: url('../img/btn_background_green.png') !important;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.light-back-button {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  display: block;
  background-color: white;
}

#light-morning {
  height: 100%;
  background-image: url('../img/light_morning_background.png') !important;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
#light-therapy {
  height: 100%;
  background-image: url('../img/light_therapy_background.png') !important;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
#light-evening {
  height: 100%;
  background-image: url('../img/light_evening_background.png') !important;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#home-schedule {
  font-size: 20px;
  text-align: center;
  font-family: 'Varela Round', system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
  color: #FFF;
  background-color: rgba(240, 240, 240, 0.3);
  border-radius: 30px;
  padding: 20px;
  margin: 40px;
  height: 20vh;
  display: block;
  overflow-y: scroll;

}

div .lightToggle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 70%;
  height: 50%;
}

.schedule ul{
  text-align: left;
}

.schedule .title{
  font-weight: bold;
}

.schedule ul li{
  padding: 5px;
}

#wakeuptime {
  opacity: 0.3;
}

#savanna-button {
  display: block;
  margin-top: 260px;
  width: 100%;
  height: 60px;
}

#sunset-button {
  display: block;
  margin-top: 25px;
  width: 100%;
  height: 60px;
}

#twilight-button {
  display: block;
  margin-top: 25px;
  width: 100%;
  height: 60px;
}